<section>
  <div class="title">
    <i class="bx bxs-bar-chart-alt-2"></i>
    <h1>Stats</h1>
  </div>
  <div class="content">
    @if (!loading) {
      <mat-form-field>
        <mat-select
          [(ngModel)]="categoryTitle"
          (selectionChange)="updateGraph()"
        >
          <mat-option [value]="'all'">Toutes</mat-option>
          @for (category of categories; track $index) {
            <mat-option [value]="category.title">
              {{ category.title }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="stats">
        <div class="container">
          <div class="label-container">
            <i class="bx bxs-layer"></i>
            <span class="label">Total éléments :</span>
          </div>
          <span class="value">{{ stats.totalArticles }}</span>
        </div>
        <div class="container">
          <div class="label-container">
            <i class="bx bxs-briefcase-alt-2"></i>
            <span class="label">Total possédés :</span>
          </div>
          <span class="value">{{ stats.totalOwnedArticles }}</span>
        </div>
        <div class="container">
          <div class="label-container">
            <i class="bx bxs-cool"></i>
            <span class="label">Total en attente :</span>
          </div>
          <span class="value">{{ stats.totalArticlesToWatch }}</span>
        </div>
        <div class="container">
          <div class="label-container">
            <i class="bx bxs-calendar-event"></i>
            <span class="label">Ajoutés récemment :</span>
          </div>
          <span class="added"
            ><span style="margin-right: 5px">+</span
            >{{ stats.totalAddedArticlesMonth }}
          </span>
        </div>
      </div>
    }
    <div class="graph" [ngClass]="{ visible: categories.length > 0 }">
      <canvas id="graph"></canvas>
    </div>
  </div>
</section>
@if (loading) {
  <mat-spinner></mat-spinner>
}
