:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--primary);
  padding: 0 5px;
  border-radius: var(--light-radius);
  margin-bottom: 5px;
  margin-top: 15px;
  min-height: 55px;
  box-shadow: var(--box-shadow);
}

section .title h1 {
  margin: 0;
  font-size: 30px;
  color: var(--secondary);
  font-family: "Alice", serif;
  text-align: center;
}

section .title i {
  font-size: 40px;
  color: var(--accent);
}

mat-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--primary) !important;
}

.working {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
