:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100dvh;
  padding: 5px 0;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s;
}

nav button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  padding: 10px 15px;
  width: 155px;
  transition: color 0.4s ease;
}

nav button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--accent);
  transition: color 0.4s ease;
}

nav button .text {
  font-weight: 600;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--secondary);
  transition: color 0.4s ease;
}

nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

nav button:hover::before {
  width: 100%;
}

nav button:hover i {
  color: var(--secondary);
}

nav button:hover .text {
  color: var(--primary);
}

nav button * {
  position: relative;
  z-index: 1;
}

nav button.active {
  background-color: var(--accent);
}

nav button.active i {
  color: var(--secondary);
}

nav button.active .text {
  color: var(--primary);
}

.hamburger {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--accent);
  border-radius: var(--light-radius);
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 200;
  box-shadow: var(--box-shadow);
}

nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(-12px);
}
