:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  margin-top: 10px;
  padding: 5px 0;
  max-width: 700px;
  width: 90%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
}

nav button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--background-nav);
  color: var(--accent);
  border-radius: var(--light-radius);
  padding: 10px 15px;
  width: 155px;
  transition: color 0.4s ease;
}

nav button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

nav button .text {
  font-weight: 600;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

nav button:hover::before {
  width: 100%;
}

nav button:hover {
  color: var(--primary);
}

nav button * {
  position: relative;
  z-index: 1;
}

nav button.active {
  background-color: var(--accent);
  color: var(--primary);
}
