:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

nav {
  margin-top: 10px;
  padding: 5px 0;
  max-width: 700px;
  width: 90%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.4s ease;
  z-index: 100;
}

nav button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  padding: 10px 15px;
  width: 155px;
  transition: color 0.4s ease;
}

nav button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--accent);
  transition: color 0.4s ease;
}

nav button .text {
  font-weight: 600;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--secondary);
  transition: color 0.4s ease;
}

nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

nav button:hover::before {
  width: 100%;
}

nav button:hover i {
  color: var(--secondary);
}

nav button:hover .text {
  color: var(--primary);
}

nav button * {
  position: relative;
  z-index: 1;
}

nav button.active {
  background-color: var(--accent);
}

nav button.active i {
  color: var(--secondary);
}

nav button.active .text {
  color: var(--primary);
}

.hamburger {
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--accent);
  border-radius: var(--light-radius);
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 200;
  box-shadow: var(--box-shadow);
}

@media (max-width: 767px) {
  .hamburger {
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.4s ease;
    gap: 30px;
    border-radius: 0;
    max-width: unset;
  }

  nav.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(-12px);
  }
}
