<section mat-dialog-content>
  @if (isUpdateMode) {
    <h1>Modifier Catégorie</h1>
  } @else {
    <h1>Ajouter Catégorie</h1>
  }
  <form class="content" [formGroup]="categoryForm" (ngSubmit)="confirm()">
    <mat-form-field class="title">
      <mat-label>Titre</mat-label>
      <input
        matInput
        formControlName="categoryTitle"
        type="text"
        [matAutocomplete]="autoTitle"
      />
      <mat-autocomplete #autoTitle="matAutocomplete">
        @for (title of filteredTitles(); track title) {
          <mat-option [value]="title">
            {{ title }}
          </mat-option>
        }
      </mat-autocomplete>
      @if (categoryForm.get("categoryTitle")!.invalid) {
        <mat-error>
          @if (categoryForm.get("categoryTitle")!.hasError("required")) {
            <span>Ce champ est requis</span>
          }
          @if (categoryForm.get("categoryTitle")!.hasError("minlength")) {
            <span>Ce champ est trop court</span>
          }
          @if (categoryForm.get("categoryTitle")!.hasError("maxlength")) {
            <span>Ce champ est trop long</span>
          }
        </mat-error>
      }
    </mat-form-field>
    <div class="image-container">
      <label for="image" class="add" title="Image">
        <i class="bx bxs-image"></i>
        <span class="text">Image</span>
      </label>
      <input
        type="file"
        id="image"
        (change)="addPicture($any($event.target).files)"
        name="files"
        accept=".jpg, .jpeg, .png, .webp"
      />
      @if (imagePreview) {
        <img [src]="imagePreview" alt="Image preview" />
      }
    </div>
    <div class="button-container">
      <button type="button" title="Annuler" (click)="cancel()" class="cancel">
        <i class="bx bx-x"></i>
        <span class="text">Annuler</span>
      </button>
      <button type="submit" title="Confirmer">
        <i class="bx bx-check"></i>
        <span class="text">Confirmer</span>
      </button>
    </div>
  </form>
</section>
