<section>
  @if (!loading) {
  <div class="title">
    @if (category.image) {
    <img [src]="category.image" [alt]="category.title" />
    }@else {
    <img [src]="imagePath + 'Empty.webp'" alt="Empty.webp" />
    }
    <h1>{{ category.title }}</h1>
  </div>
  <div class="content">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>RECHERCHER</mat-label>
        <input matInput formControlName="search" />
        <button mat-icon-button matSuffix type="button">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-container">
        @if (isTouched) {
        <button
          type="button"
          class="dots cancel"
          title="Annuler"
          (click)="resetFilters()"
        >
          <i class="bx bx-x"></i>
        </button>
        } @if (isSortedDesc) {
        <button
          type="button"
          class="dots"
          title="Trier par note"
          (click)="sortArticles()"
        >
          <i class="bx bx-sort-down"></i>
        </button>
        } @else {
        <button
          type="button"
          class="dots"
          title="Trier par note"
          (click)="sortArticles()"
        >
          <i class="bx bx-sort-up"></i>
        </button>
        }

        <button
          type="button"
          class="view"
          title="Filtrer"
          (click)="filterArticles()"
        >
          <i class="bx bxs-filter-alt"></i>
          <span class="text">Filtrer</span>
        </button>
      </div>
    </form>
    <div class="categories">
      @for (article of filteredArticles; track $index) {
      <app-article-card
        [article]="article"
        [categoryId]="category.id!"
        (recommandArticleEvent)="recommandArticle(article)"
        (updateArticleEvent)="updateArticle(article)"
        (deleteArticleEvent)="deleteArticle(article.id!)"
      ></app-article-card>
      }
    </div>
    <button
      type="button"
      (click)="addArticle()"
      class="add"
      title="Ajouter élément"
    >
      <i class="bx bx-plus"></i>
    </button>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
