@if (!loading) {
  <section>
    <div class="content">
      <form [formGroup]="searchForm">
        <mat-form-field>
          <mat-label>Rechercher</mat-label>
          <input matInput formControlName="search" #input />
          <button mat-icon-button matSuffix type="button">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="select">
          <mat-label>Genres</mat-label>
          <mat-select formControlName="genres" multiple>
            <mat-select-trigger>
              {{ genresCtrl?.value[0] || "" }}
              @if ((genresCtrl?.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                  (+{{ (genresCtrl?.value?.length || 0) - 1 }}
                  {{ genresCtrl?.value?.length === 2 ? "autre" : "autres" }})
                </span>
              }
            </mat-select-trigger>
            @for (genre of genres; track $index) {
              <mat-option [value]="genre">{{ genre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button
            type="button"
            class="view"
            title="Filtrer"
            (click)="openFilter()"
          >
            <i class="bx bxs-filter-alt"></i>
            <span class="text">Autres</span>
          </button>
        </div>
      </form>
      @if (dataSource.data.length) {
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="sortChange($event)"
          class="accent-table"
        >
          <ng-container matColumnDef="title">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by symbol"
            >
              Titre
            </th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
          <ng-container matColumnDef="genres">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by genres"
            >
              Genres
            </th>

            <td mat-cell *matCellDef="let element">
              <mat-chip-set>
                @for (
                  genre of getSortedGenres(element.genres).slice(0, 2);
                  track genre
                ) {
                  <mat-chip>
                    {{ genre }}
                  </mat-chip>
                }

                @if (element.genres?.length > 2) {
                  <mat-chip
                    class="more-genres"
                    [title]="getHiddenGenresTitle(element.genres)"
                  >
                    +{{ element.genres.length - 2 }}
                  </mat-chip>
                }
              </mat-chip-set>
            </td>
          </ng-container>
          <ng-container matColumnDef="grade">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by symbol"
            >
              Note
            </th>
            <td mat-cell *matCellDef="let element">{{ element.grade }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      } @else {
        <app-empty-card
          [text]="'Aucun élément'"
          style="margin-top: 10px"
        ></app-empty-card>
      }
      <button
        type="button"
        (click)="addArticle()"
        class="add"
        title="Ajouter élément"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
  </section>
} @else {
  <mat-spinner></mat-spinner>
}
