:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .content table {
  margin-top: 10px;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
}

section .content .add {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
  box-shadow: var(--box-shadow);
  color: var(--accent);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .content .add i {
  font-size: 50px;
}

section .content .add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

section .content .add:hover::before {
  width: 100%;
}

section .content .add:hover {
  color: var(--primary);
}

section .content .add * {
  position: relative;
  z-index: 1;
}

section .content .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: color 0.4s ease;
  width: 150px;
  border: none;
  box-shadow: var(--box-shadow);
}

.view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

.view:hover::before {
  width: 100%;
}

.view:hover {
  color: var(--primary);
}

.view * {
  position: relative;
  z-index: 1;
}

.view i {
  font-size: 30px;
}

.view .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section .content .button-container .dots {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 50px;
  height: 50px;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

section .content .button-container .dots i {
  font-size: 30px;
}

section .content .button-container .cancel i {
  font-size: 40px;
}

section .content .button-container .dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

section .content .button-container .dots:hover::before {
  width: 100%;
}

section .content .button-container .dots:hover {
  color: var(--primary);
}

section .content .button-container .dots * {
  position: relative;
  z-index: 1;
}

section .content .button-container .dots {
  color: var(--secondary);
}

section .content .button-container .cancel {
  color: var(--accent);
}

section .content .button-container .cancel::before {
  background-color: var(--accent);
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  box-shadow: var(--box-shadow);
  width: 240px;
}

table .mat-mdc-header-cell {
  border-bottom: 2px solid var(--accent);
}

table .mat-mdc-header-cell {
  color: var(--accent);
  font-weight: 500;
  font-size: 16px;
}

table .mat-mdc-cell {
  color: var(--secondary);
  font-weight: 500;
}

::ng-deep .mat-mdc-table {
  padding: 5px;
}

::ng-deep th {
  z-index: 1 !important;
}

mat-icon {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
  overflow: unset !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--primary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .mat-sort-header-content {
  color: var(--accent) !important;
}

::ng-deep .mat-sort-header-arrow {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-select {
  color: var(--secondary) !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  fill: var(--accent) !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--primary) !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--secondary) !important;
}

::ng-deep .mdc-list-item--selected {
  color: var(--primary) !important;
}

::ng-deep .mdc-list-item__primary-text span {
  color: var(--secondary) !important;
}

::ng-deep .mdc-list-item__primary-text i {
  color: var(--secondary) !important;
  font-size: 25px;
}

::ng-deep .mdc-list-item--selected span {
  color: var(--primary) !important;
}

::ng-deep .mdc-list-item--selected i {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: var(--accent) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  i {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  .game {
  color: var(--primary) !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: var(--primary) !important;
}

::ng-deep .mdc-list-item--selected {
  color: var(--accent) !important;
}

::ng-deep .mdc-list-item--selected span {
  color: var(--accent) !important;
}

::ng-deep .mdc-list-item__primary-text span {
  color: var(--secondary) !important;
}

::ng-deep .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
  background-color: var(--accent) !important;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: var(--secondary) !important;
  font-weight: 500;
}

@media screen and (max-width: 693px) {
  form {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  mat-form-field {
    width: 100%;
    min-width: unset;
  }
}

@media screen and (max-width: 550px) {
  form {
    justify-content: center;
    flex-direction: column;
  }
}
