:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--primary);
  padding: 0 5px;
  border-radius: var(--light-radius);
  margin-bottom: 5px;
  margin-top: 15px;
  min-height: 55px;
  box-shadow: var(--box-shadow);
}

section .title h1 {
  margin: 0;
  font-size: 30px;
  color: var(--secondary);
  font-family: "Alice", serif;
  text-align: center;
}

section .title img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--light-radius);
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .content .categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

section .content .add {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
  box-shadow: var(--box-shadow);
  color: var(--secondary);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .content .add i {
  font-size: 50px;
}

section .content .add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

section .content .add:hover::before {
  width: 100%;
}

section .content .add:hover {
  color: var(--primary);
}

section .content .add * {
  position: relative;
  z-index: 1;
}

section .content .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 270px;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: color 0.4s ease;
  width: 150px;
  border: none;
  box-shadow: var(--box-shadow);
}

.view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

.view:hover::before {
  width: 100%;
}

.view:hover {
  color: var(--primary);
}

.view * {
  position: relative;
  z-index: 1;
}

.view i {
  font-size: 30px;
}

.view .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section .content .button-container .dots {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 50px;
  height: 50px;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

section .content .button-container .dots i {
  font-size: 30px;
}

section .content .button-container .cancel i {
  font-size: 40px;
}

section .content .button-container .dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

section .content .button-container .dots:hover::before {
  width: 100%;
}

section .content .button-container .dots:hover {
  color: var(--primary);
}

section .content .button-container .dots * {
  position: relative;
  z-index: 1;
}

section .content .button-container .dots {
  color: var(--secondary);
}

section .content .button-container .cancel {
  color: var(--accent);
}

section .content .button-container .cancel::before {
  background-color: var(--accent);
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--primary) !important;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  width: 95%;
  max-width: 400px;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
  height: 40px;
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  max-width: 700px;
  gap: 10px;
}

mat-icon {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--secondary);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--secondary);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--primary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--secondary) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: transparent !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

@media screen and (max-width: 900px) {
  section {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 550px) {
  form {
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 388px) {
  .empty {
    height: unset;
  }
}
