<section mat-dialog-content class="dialog">
  @if (article && article.title) {
  <h1>Modifier Élément</h1>
  }@else {
  <h1>Ajouter Élément</h1>
  }
  <form class="content" (ngSubmit)="confirm()">
    <mat-form-field class="title">
      <mat-label>TITRE</mat-label>
      <input
        matInput
        [(ngModel)]="article.title"
        [ngModelOptions]="{ standalone: true }"
        name="title"
        type="text"
        minlength="2"
        maxlength="50"
        required
      />
    </mat-form-field>
    <mat-form-field class="title">
      <mat-label>GENRES</mat-label>

      <mat-chip-grid #chipGrid>
        @for (genre of genres(); track $index) {
        <mat-chip-row (removed)="remove(genre)">
          {{ genre }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="Ajouter un genre..."
        #genreInput
        [(ngModel)]="currentGenre"
        name="currentGenre"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event); genreInput.value = ''"
      >
        @for (genre of filteredGenres(); track genre) {
        <mat-option [value]="genre">
          {{ genre }}
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>DESCRIPTION</mat-label>
      <textarea
        matInput
        [(ngModel)]="article.description"
        [ngModelOptions]="{ standalone: true }"
        name="description"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>
    <div class="star-picker">
      <label>NOTE</label>
      <div class="stars">
        @for (star of getStarsArray(); track $index) {
        <span
          class="star"
          (mousemove)="setHoverFromMouse($event, $index)"
          (click)="setGradeFromMouse($event, $index)"
          (mouseleave)="clearHover()"
        >
          <i
            class="bx"
            [ngClass]="{
              'bxs-star': isFull($index + 1),
              'bxs-star-half': isHalf($index + 1),
              'bx-star': !isFull($index + 1) && !isHalf($index + 1)
            }"
          ></i>
        </span>
        }
      </div>
    </div>
    <div class="image-container">
      <label for="image" class="add" title="Image">
        <i class="bx bxs-image"></i>
        <span class="text">Image</span>
      </label>
      <input
        type="file"
        id="image"
        (change)="addPicture($any($event.target).files)"
        name="files"
        accept=".jpg, .jpeg, .png, .webp"
      />
      @if (imagePreview) {
      <img [src]="imagePreview" alt="Image preview" />
      }
    </div>
    <div class="toggle-container">
      <mat-slide-toggle
        [(ngModel)]="article.isOwned"
        [ngModelOptions]="{ standalone: true }"
        name="isOwned"
      >
        Vous appartient
      </mat-slide-toggle>
      <mat-slide-toggle
        [(ngModel)]="article.isPreferred"
        [ngModelOptions]="{ standalone: true }"
        name="isPreferred"
      >
        Parmi vos préférés
      </mat-slide-toggle>
      <mat-slide-toggle
        [(ngModel)]="article.isWishlisted"
        [ngModelOptions]="{ standalone: true }"
        name="isWishlisted"
      >
        Sur liste d'attente
      </mat-slide-toggle>
    </div>
    <div class="button-container">
      <button type="button" title="Annuler" (click)="cancel()" class="cancel">
        <i class="bx bx-x"></i>
        <span class="text">Annuler</span>
      </button>
      <button type="submit" title="Confirmer">
        <i class="bx bx-check"></i>
        <span class="text">Confirmer</span>
      </button>
    </div>
  </form>
</section>
