<section mat-dialog-content class="dialog">
  @if (isUpdateMode) {
    <h1>Modifier Élément</h1>
  } @else {
    <h1>Ajouter Élément</h1>
  }
  <form class="content" [formGroup]="articleForm" (ngSubmit)="confirm()">
    <mat-form-field class="title show">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title" type="text" />
      @if (articleForm.get("title")!.invalid) {
        <mat-error>
          @if (articleForm.get("title")!.hasError("required")) {
            <span>Ce champ est requis</span>
          }
          @if (articleForm.get("title")!.hasError("minlength")) {
            <span>Ce champ est trop court</span>
          }
          @if (articleForm.get("title")!.hasError("maxlength")) {
            <span>Ce champ est trop long</span>
          }
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="title">
      <mat-label>Genres</mat-label>

      <mat-chip-grid #chipGrid>
        @for (genre of genres(); track $index) {
          <mat-chip-row (removed)="remove(genre)">
            {{ genre }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="Ajouter un genre..."
        #genreInput
        formControlName="currentGenre"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event); genreInput.value = ''"
      >
        @for (genre of filteredGenres(); track genre) {
          <mat-option [value]="genre">
            {{ genre }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="title">
      <mat-label>Lien</mat-label>
      <input matInput formControlName="link" type="text" />
    </mat-form-field>
    <div class="star-picker">
      <label>Note</label>
      <div class="stars">
        @for (star of getStarsArray(); track $index) {
          <span
            class="star"
            (mousemove)="setHoverFromMouse($event, $index)"
            (click)="setGradeFromMouse($event, $index)"
            (mouseleave)="clearHover()"
          >
            <i
              class="bx"
              [ngClass]="{
                'bxs-star': isFull($index + 1),
                'bxs-star-half': isHalf($index + 1),
                'bx-star': !isFull($index + 1) && !isHalf($index + 1),
              }"
            ></i>
          </span>
        }
      </div>
    </div>
    <div class="image-container">
      <label for="image" class="add" title="Image">
        <i class="bx bxs-image"></i>
        <span class="text">Image</span>
      </label>
      <input
        type="file"
        id="image"
        (change)="addPicture($any($event.target).files)"
        name="files"
        accept=".jpg, .jpeg, .png, .webp"
      />
      @if (imagePreview) {
        <img [src]="imagePreview" alt="Image preview" />
      }
    </div>
    <div class="toggle-container">
      <mat-slide-toggle formControlName="isOwned">
        Vous appartient
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="isPreferred">
        Parmi vos préférés
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="isWishlisted">
        Sur liste d'attente
      </mat-slide-toggle>
    </div>
    <div class="button-container">
      <button type="button" title="Annuler" (click)="cancel()" class="cancel">
        <i class="bx bx-x"></i>
        <span class="text">Annuler</span>
      </button>
      <button type="submit" title="Confirmer">
        <i class="bx bx-check"></i>
        <span class="text">Confirmer</span>
      </button>
    </div>
  </form>
</section>
