<section>
  <div class="title">
    <h2>Organise et partage tes découvertes</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img
        [src]="imagePath + 'welcome/Categories.webp'"
        alt="Categories.webp"
      />
      <span>
        Crée ton propre répertoire en ajoutant des catégories comme les films,
        les séries, les musiques, les jeux ou tout autre centre d’intérêt.
        Personnalise ton espace selon tes envies et organise tout ce que tu
        aimes.
      </span>
    </div>

    <div class="feature reverse" #feature>
      <span>
        Garde une trace de ce que tu as déjà vu, écouté ou joué, et découvre ce
        qu’il te reste à explorer. Note chaque élément et classe-les selon tes
        goûts pour mieux t’y retrouver et affiner tes recommandations.
      </span>
      <img [src]="imagePath + 'welcome/Genre.webp'" alt="Genre.webp" />
    </div>

    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Stats.webp'" alt="Stats.webp" />
      <span>
        Visualise tes statistiques personnelles pour chaque catégorie et suis
        ton évolution au fil du temps. Découvre tes préférences et tes habitudes
        en un coup d’œil.
      </span>
    </div>

    <div class="feature reverse" #feature>
      <span>
        Partage facilement tes coups de cœur avec tes amis et recommande-leur ce
        qu’ils ne doivent surtout pas manquer. Échange autour de vos découvertes
        et inspire ta communauté.
      </span>
      <img [src]="imagePath + 'welcome/Sharing.webp'" alt="Sharing.webp" />
    </div>
  </div>
</section>
