<section mat-dialog-content>
  <h1>Recevoir Élément{{ articles.length > 1 ? "s" : "" }}</h1>
  <form class="content" [formGroup]="receiveForm" (ngSubmit)="confirm()">
    <mat-form-field>
      <mat-label>Recettes</mat-label>
      <mat-select formControlName="articles" multiple>
        <mat-select-trigger>
          {{ articlesCtrl?.value[0]?.title || "" }}
          @if ((articlesCtrl?.value?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{ (articlesCtrl?.value?.length || 0) - 1 }}
              {{ articlesCtrl?.value?.length === 2 ? "autre" : "autres" }})
            </span>
          }
        </mat-select-trigger>
        @for (article of articles; track article) {
          <mat-option [value]="article">{{ article.title }}</mat-option>
        }
      </mat-select>
      @if (receiveForm.get("articles")!.invalid) {
        <mat-error>
          @if (receiveForm.get("articles")!.hasError("required")) {
            <span>Ce champ est requis</span>
          }
        </mat-error>
      }
    </mat-form-field>
    <div class="button-container">
      <button type="button" title="Annuler" (click)="cancel()" class="delete">
        <i class="bx bx-x"></i>
        <span class="text">Annuler</span>
      </button>
      <button type="submit" title="Valider">
        <i class="bx bx-check"></i>
        <span class="text">Valider</span>
      </button>
    </div>
  </form>
</section>
