<button
  class="hamburger"
  (click)="toggleMenu()"
  [title]="!menuOpen ? 'Menu' : 'Fermer'"
>
  @if (!menuOpen) {
    <i class="bx bx-menu"></i>
  } @else {
    <i class="bx bx-x"></i>
  }
</button>

<nav aria-label="main navigation" [class.open]="menuOpen">
  <button
    routerLink="/categories"
    routerLinkActive="active"
    title="Catégories"
    type="button"
  >
    <i class="bx bxs-folder-open"></i>
    <span class="text">Catégories</span>
  </button>
  <button
    routerLink="/stats"
    routerLinkActive="active"
    title="Stats"
    type="button"
  >
    <i class="bx bxs-bar-chart-alt-2"></i>
    <span class="text">Stats</span>
  </button>
  <button
    type="button"
    routerLink="/notifications"
    routerLinkActive="active"
    title="Notifications"
  >
    <span class="icon-with-badge">
      <i class="bx bxs-bell"></i>
      @if (notificationNumber) {
        <span class="badge">{{ notificationNumber }}</span>
      }
    </span>
    <span class="text">Notifications</span>
  </button>
  <button
    routerLink="/parameters"
    routerLinkActive="active"
    title="Paramètres"
    type="button"
  >
    <i class="bx bxs-user"></i>
    <span class="text">Paramètres</span>
  </button>
  <button (click)="logout()" title="Déconnexion" type="button">
    <i class="bx bxs-log-out"></i>
    <span class="text">Déconnexion</span>
  </button>
</nav>
