section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
}

section h1 {
  font-size: 20px;
  color: var(--accent);
  text-align: center;
}

section .content {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-width: 450px;
}

section .content mat-form-field {
  width: 100%;
}

section .content mat-form-field mat-error {
  margin-top: 2px;
}

section .content mat-form-field mat-error span {
  font-size: 16px;
}

section .content mat-form-field textarea {
  resize: vertical;
  min-height: 25px;
  height: 25px;
  max-height: 100px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 170px;
  border: none;
  background-color: var(--background-nav);
}

.add-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

button i {
  font-size: 30px;
}

button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a i {
  font-size: 30px;
}

a .text {
  font-size: 20px;
  font-weight: 500;
}

form mat-form-field {
  margin-bottom: 0;
}

.mat-icon {
  color: var(--accent);
}

.cap-option {
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 150px;
  border: none;
  background-color: var(--background-nav);
}

section .button-container .delete {
  color: red;
  transition: 0.5s ease;
}

section .button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .delete:hover {
  background-color: red;
}

section .button-container button i {
  font-size: 40px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form
  ::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--background-nav) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(
    .mdc-text-field--disabled
  ).mdc-text-field--invalid:not(.mdc-text-field--disabled):hover
  .mdc-floating-label {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid
  .mdc-floating-label {
  color: red !important;
}

::ng-deep .mat-mdc-form-field-error {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --secondary: red;
  --accent: red;
}

::ng-deep .cap .mat-mdc-select-value-text {
  text-transform: capitalize !important;
}

::ng-deep .mat-mdc-select {
  color: var(--secondary) !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  fill: var(--accent) !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: var(--background-nav) !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--secondary) !important;
}

::ng-deep .mdc-list-item--selected {
  color: var(--accent) !important;
}

::ng-deep .mdc-list-item--selected span {
  color: var(--accent) !important;
}

::ng-deep .mdc-list-item__primary-text span {
  color: var(--secondary) !important;
}

::ng-deep .mdc-list-item__primary-text i {
  color: var(--secondary) !important;
  font-size: 25px;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: var(--accent) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  i {
  color: var(--primary) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text
  .flex
  .game {
  color: var(--primary) !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: var(--primary) !important;
}

::ng-deep .suffix .mat-mdc-form-field-icon-suffix {
  color: var(--accent) !important;
  left: -15px;
}

::ng-deep .mat-mdc-icon-button {
  --mat-icon-button-icon-color: var(--accent);
}
