section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 800px;
  width: 90%;
}

section h1 {
  font-size: 20px;
  color: var(--accent);
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.button-container button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  width: 110px;
  border: none;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  transition: color 0.4s ease;
  color: var(--secondary);
}

.button-container button * {
  position: relative;
  z-index: 3;
}

.button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 1;
}

.button-container button:hover::before {
  width: 100%;
}

.button-container button:hover {
  color: var(--primary);
}

.button-container .delete {
  color: var(--accent);
}

.button-container .delete::before {
  background-color: var(--accent);
}

section .button-container button i {
  font-size: 40px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
