:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .content .categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

section .content .add {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
  box-shadow: var(--box-shadow);
  color: var(--accent);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .content .add i {
  font-size: 50px;
}

section .content .add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

section .content .add:hover::before {
  width: 100%;
}

section .content .add:hover {
  color: var(--primary);
}

section .content .add * {
  position: relative;
  z-index: 1;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}
