:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary);
  color: var(--accent);
  padding: 0 10px;
  border-radius: var(--light-radius);
  margin-bottom: 5px;
  margin-top: 20px;
  min-height: 50px;
}

section .title h1 {
  margin: 0;
  font-size: 30px;
}

section .title img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .content .categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

section .content .add {
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  color: var(--accent);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .content .add i {
  font-size: 50px;
}

section .content .add:hover {
  color: var(--primary);
  background-color: var(--accent);
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--primary) !important;
}
