@if (!loading) {
  <section>
    <div class="content">
      <div class="categories">
        @for (category of categories; track $index) {
          <app-category-card
            [category]="category"
            (updateCategoryEvent)="updateCategory(category)"
            (deleteCategoryEvent)="deleteCategory(category.id!)"
          ></app-category-card>
        }
      </div>
      <button
        type="button"
        (click)="addCategory()"
        class="add"
        title="Ajouter catégorie"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
  </section>
} @else {
  <mat-spinner></mat-spinner>
}
