:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  padding: 5px 5px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--light-radius);
  gap: 20px;
  width: 95%;
  max-width: 600px;
}

.container .infos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container .infos .title {
  font-size: 18px;
  font-weight: 500;
  color: var(--accent);
  text-align: justify;
  width: 350px;
}

.container .infos .date {
  font-size: 17.5px;
  font-weight: 500;
  color: var(--secondary);
  text-align: right;
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  border: none;
  background-color: var(--primary);
}

.button-container .delete {
  color: red;
  transition: 0.5s ease;
}

.button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.button-container .delete:hover {
  background-color: red;
}

.button-container button i {
  font-size: 30px;
}

.button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }

  .container .infos {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .container .infos .title {
    width: unset;
  }

  .container .infos .date {
    text-align: center;
  }
}
