:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
  border: none;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

button:hover::before {
  width: 100%;
}

button:hover {
  color: var(--primary);
}

/* remet le contenu au-dessus */
button * {
  position: relative;
  z-index: 1;
}

button .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}

button .title img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--light-radius);
}

button .title span {
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
  text-transform: capitalize;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 430px) {
  :host {
    width: 90%;
  }
}
