:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
  border: none;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

.category:hover::before {
  width: 100%;
}

.category:hover {
  color: var(--primary);
}

/* remet le contenu au-dessus */
.category * {
  position: relative;
  z-index: 1;
}

.category .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}

.category .title img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--light-radius);
}

.category .title span {
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
  text-transform: capitalize;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-wrapper {
  position: relative;
  display: inline-block;
}

.category .category-menu-btn {
  position: absolute;
  border: none;
  cursor: pointer;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  z-index: 2;
  background: var(--primary);
  color: var(--accent);
  border-radius: var(--light-radius);
  overflow: hidden;
  transition: color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.category .category-menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

.category .category-menu-btn:hover::before {
  width: 100%;
}

.category .category-menu-btn:hover {
  color: var(--primary);
}

.category .category-menu-btn i {
  position: relative;
  z-index: 1;
  font-size: 22px;
}

::ng-deep .mat-mdc-menu-panel {
  background-color: var(--primary) !important;
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-mdc-menu-item-text span {
  font-size: 20px;
  color: var(--secondary);
  font-weight: 500;
}

::ng-deep .mat-mdc-menu-item i {
  font-size: 30px;
  color: var(--accent);
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: var(--accent) !important;
  color: var(--primary) !important;
}

::ng-deep .mat-mdc-menu-item:hover i {
  color: var(--primary) !important;
}

::ng-deep .mat-mdc-menu-item:hover span {
  color: var(--primary) !important;
}

@media screen and (max-width: 430px) {
  :host {
    width: 90%;
  }
}
