:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
}

.category .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.category .title i {
  font-size: 30px;
}

.category .title span {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category .session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: var(--secondary);
}

.category .session span {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 260px;
  text-align: center;
  font-weight: 500;
}

.view {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 150px;
  border: none;
  box-shadow: var(--box-shadow);
}

.view:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.view i {
  font-size: 30px;
}

.view .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.category .update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
}

.category .update-container .update {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--accent);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.category .update-container .update i {
  font-size: 30px;
}

.category .update-container .update:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.category .delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.category .delete-container .delete {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: red;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.category .delete-container .delete i {
  font-size: 50px;
}

.category .delete-container .delete:hover {
  color: var(--primary);
  background-color: red;
}
