:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  background-color: var(--primary);
  padding: 20px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
}

.container .element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container .element.second {
  margin-top: 20px;
}

.container .element .label {
  color: var(--accent);
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container .element .value {
  width: 300px;
  text-align: center;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.container .button-container button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: var(--secondary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
  transition: color 0.4s ease;
  width: 140px;
  border: none;
  background-color: var(--primary);
}

.container .button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

.container .button-container button:hover::before {
  width: 100%;
}

.container .button-container button:hover {
  color: var(--primary);
}

.container .button-container button * {
  position: relative;
  z-index: 1;
}

.container .button-container button i {
  font-size: 30px;
}

.container .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 649px) {
  .container .element {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
