<section>
  <div class="title">
    <img [src]="imagePath + 'Logo.webp'" alt="Class E-File" />
    <h1>Class E-File</h1>
  </div>
  <div class="button-container">
    <button
      type="button"
      routerLink="/connect/register"
      title="S'inscrire"
      class="unactive"
    >
      <i class="bx bx-pencil"></i>
      <span class="text">S'inscrire</span>
    </button>
    <button
      type="button"
      routerLink="/connect/login"
      title="Se connecter"
      class="unactive"
    >
      <i class="bx bx-user-circle"></i>
      <span class="text">Se connecter</span>
    </button>
  </div>
  <div class="content">
    <div class="title reveal" #section>
      <h2 class="slogan">Organise et partage tes découvertes</h2>
    </div>
    <div class="features">
      <div class="feature" #feature>
        <img [src]="imagePath + 'welcome/Category.webp'" alt="Category.webp" />
        <div class="text">
          <div class="text-title">
            <div class="flex">
              <i class="bx bxs-folder-open"></i>
              <h3>Catégories</h3>
            </div>
            <h4>Votre répertoire, en un coup d’œil</h4>
          </div>
          <p>
            Crée ton propre répertoire en ajoutant des catégories comme les
            films, les séries, les musiques, les jeux ou tout autre centre
            d’intérêt. Personnalise ton espace selon tes envies et organise tout
            ce que tu aimes.
          </p>
        </div>
      </div>
      <div class="feature reverse" #feature>
        <div class="text">
          <div class="text-title">
            <div class="flex">
              <i class="bx bx-play-circle"></i>
              <h3>Film, Musique, Jeux De Société</h3>
            </div>
            <h4>Explore, note et retrouve facilement tes découvertes</h4>
          </div>
          <p>
            Garde une trace de ce que tu as déjà vu, écouté ou joué, et découvre
            ce qu’il te reste à explorer. Note chaque élément et classe-les
            selon tes goûts pour mieux t’y retrouver et affiner tes
            recommandations.
          </p>
        </div>
        <img [src]="imagePath + 'welcome/Element.webp'" alt="Element.webp" />
      </div>
      <div class="feature" #feature>
        <img [src]="imagePath + 'welcome/Stats.webp'" alt="Stats.webp" />
        <div class="text">
          <div class="text-title">
            <div class="flex">
              <i class="bx bxs-bar-chart-alt-2"></i>
              <h3>Statistiques</h3>
            </div>
            <h4>Suis ton évolution et explore tes tendances</h4>
          </div>
          <p>
            Visualise tes statistiques personnelles pour chaque catégorie et
            suis ton évolution au fil du temps. Découvre tes préférences et tes
            habitudes en un coup d’œil.
          </p>
        </div>
      </div>
      <div class="feature reverse" #feature>
        <div class="text">
          <div class="text-title">
            <div class="flex">
              <i class="bx bxs-share"></i>
              <h3>Partage</h3>
            </div>
            <h4>Partage tes coups de cœur et inspire tes proches</h4>
          </div>
          <p>
            Partage facilement tes coups de cœur avec tes amis et
            recommande-leur ce qu’ils ne doivent surtout pas manquer. Échange
            autour de vos découvertes et inspire ta communauté.
          </p>
        </div>
        <img [src]="imagePath + 'welcome/Share.webp'" alt="Share.webp" />
      </div>
    </div>
  </div>
</section>
