section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
}

section h1 {
  font-size: 20px;
  color: var(--secondary);
  text-align: center;
}

section .content {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  max-height: 75vh;
  overflow-y: auto;
}

section .content input {
  color: var(--secondary);
}

section .content mat-label {
  color: var(--secondary);
}

mat-form-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.button-container button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  width: 150px;
  border: none;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  transition: color 0.4s ease;
  color: var(--secondary);
}

.button-container button * {
  position: relative;
  z-index: 3;
}

.button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 1;
}

.button-container button:hover::before {
  width: 100%;
}
.button-container button:hover {
  color: var(--primary);
}

.button-container .cancel {
  color: var(--accent);
}

.button-container .cancel::before {
  background-color: var(--accent);
  z-index: 1;
}

section .button-container button i {
  font-size: 40px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

form .image-container label {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 140px;
}

form .image-container label:hover {
  background-color: var(--accent);
  color: var(--primary);
}

form .image-container label i {
  font-size: 30px;
}

form .image-container label .text {
  font-size: 20px;
  font-weight: 500;
}

form .image-container input {
  display: none;
}

form .image-container img {
  margin-top: 15px;
  width: 250px;
  height: 150px;
  border-radius: var(--light-radius);
  object-fit: cover;
}

.star-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  width: calc(100% - 32px);
}

.star-picker label {
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.star-picker .star i {
  font-size: 28px;
  transition: color 0.2s;
  color: var(--accent);
}

::ng-deep section .content .mat-mdc-form-field-icon-suffix {
  color: var(--secondary);
}

::ng-deep .dialog .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

::ng-deep
  .dialog
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--secondary) !important;
}

::ng-deep
  .dialog
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--secondary) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --secondary: var(--accent);
  --primary: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: var(--secondary) !important;
}

.toggle-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

mat-slide-toggle {
  width: 100%;
  max-width: 320px;
}

::ng-deep .mdc-slider__track--active_fill {
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__track--inactive {
  background-color: rgb(221, 221, 221) !important;
  opacity: 1 !important;
}

::ng-deep .mdc-slider__thumb-knob {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

::ng-deep .mdc-slider__value-indicator {
  background-color: var(--accent) !important;
}

::ng-deep .toggle-container .mat-mdc-slide-toggle .mat-internal-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep
  .toggle-container
  .mat-mdc-slide-toggle
  .mdc-switch:enabled
  + .mdc-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary);
  text-align: left;
  margin: 0;
  margin-left: 10px;
  width: 160px;
}

::ng-deep .mdc-switch__track::after {
  background: var(--accent) !important;
}

::ng-deep .mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: var(--primary) !important;
}

::ng-deep .mdc-switch--selected .mdc-switch__icon {
  fill: var(--accent) !important;
}

::ng-deep .mdc-switch__track::before {
  background: var(--primary) !important;
}

::ng-deep .mdc-switch--unselected .mdc-switch__icon {
  fill: var(--primary) !important;
}

@media screen and (max-width: 490px) {
  form .image-container img {
    width: 200px;
    height: 140px;
  }
}

@media screen and (max-width: 420px) {
  form .image-container img {
    width: 150px;
    height: 100px;
  }
}
