<section mat-dialog-content class="dialog">
  <h1>Filtrer les {{ categoryTitle | lowercase }}</h1>
  <form class="content" (ngSubmit)="confirm()">
    <div class="toggle-container">
      <mat-slide-toggle
        [(ngModel)]="article.isOwned"
        [ngModelOptions]="{ standalone: true }"
        name="isOwned"
      >
        Vous appartient
      </mat-slide-toggle>
      <mat-slide-toggle
        [(ngModel)]="article.isPreferred"
        [ngModelOptions]="{ standalone: true }"
        name="isPreferred"
      >
        Parmi vos préférés
      </mat-slide-toggle>
      <mat-slide-toggle
        [(ngModel)]="article.isWishlisted"
        [ngModelOptions]="{ standalone: true }"
        name="isWishlisted"
      >
        Sur liste d'attente
      </mat-slide-toggle>
    </div>
    <div class="button-container">
      <button type="button" title="Annuler" (click)="cancel()" class="cancel">
        <i class="bx bx-x"></i>
        <span class="text">Annuler</span>
      </button>
      <button type="submit" title="Confirmer">
        <i class="bx bx-check"></i>
        <span class="text">Confirmer</span>
      </button>
    </div>
  </form>
</section>
