:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  color: var(--primary);
  border-radius: var(--light-radius);
}

section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--primary);
  padding: 0 5px;
  border-radius: var(--light-radius);
  margin-bottom: 5px;
  margin-top: 15px;
  min-height: 55px;
  box-shadow: var(--box-shadow);
}

section .title h1 {
  margin: 0;
  font-size: 30px;
  color: var(--secondary);
  font-family: "Alice", serif;
  text-align: center;
}

section .title i {
  font-size: 40px;
  color: var(--accent);
}

section .content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  gap: 20px;
}

section .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

section .button-container button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
  transition: color 0.4s ease;
  width: 140px;
  border: none;
  background-color: var(--primary);
}

section .button-container .delete {
  color: var(--accent);
  width: 220px;
}

section .button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

section .button-container .delete::before {
  background-color: var(--accent);
}

section .button-container button:hover::before {
  width: 100%;
}

section .button-container button:hover {
  color: var(--primary);
}

section .button-container button * {
  position: relative;
  z-index: 1;
}

section .button-container button i {
  font-size: 30px;
}

section .button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--primary) !important;
}
