:host {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 402px;
  position: relative;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

form .pricing {
  width: 100%;
  margin-bottom: 30px;
}

form .pricing h2 {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40px;
}

.title h2 {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.title h2 span {
  color: var(--accent);
}

form mat-form-field {
  width: 100%;
  max-width: 420px;
}

form mat-form-field mat-error {
  margin-top: 2px;
}

form mat-form-field mat-error span {
  font-size: 16px;
}

.mat-icon {
  color: var(--accent);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.button-container.login {
  margin-top: 220px;
}

.button-container button {
  cursor: pointer;
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 180px;
  border: none;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
}

.button-container .google {
  width: 300px;
}

.button-container button:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.button-container button i {
  font-size: 30px;
}

.button-container button .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  )
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--invalid
  ).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--accent);
}

::ng-deep .mdc-text-field {
  border-radius: var(--light-radius) !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: var(--background-nav) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-floating-label {
  color: var(--accent) !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  caret-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(
    .mdc-text-field--disabled
  ).mdc-text-field--invalid:not(.mdc-text-field--disabled):hover
  .mdc-floating-label {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid
  .mdc-floating-label {
  color: red !important;
}

::ng-deep .mat-mdc-form-field-error {
  color: red !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--secondary) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --accent: red;
  --secondary: red;
}
