<div class="article">
  <div class="title-container">
    <span class="title">{{ article().title }}</span>
    <mat-chip-set>
      @for (genre of article().genres; track $index) {
        @if ($index < 2) {
          <mat-chip [title]="genre">{{ genre }}</mat-chip>
        }
      }
      @if (article().genres.length >= 3) {
        <mat-chip [title]="article().genres.slice(2).join(', ')">...</mat-chip>
      }
    </mat-chip-set>
  </div>
  <div class="button-container">
    <div class="stars">
      @for (star of getStars(article().grade); track $index) {
        <i
          class="bx"
          [ngClass]="{
            'bxs-star': star === 'full',
            'bxs-star-half': star === 'half',
            'bx-star': star === 'empty',
          }"
        ></i>
      }
    </div>
    <div class="buttons">
      <button
        type="button"
        [routerLink]="
          '/categories/' + categoryId() + '/articles/' + article().id
        "
        title="Consulter"
      >
        <i class="bx bxs-search-alt-2"></i>
      </button>
      <button [matMenuTriggerFor]="menu" class="dots" title="Actions">
        <i class="bx bx-dots-horizontal-rounded"></i>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="update()" class="update" title="Modifier">
        <i class="bx bxs-edit-alt"></i>
        <span class="description">Modifier</span>
      </button>
      <button mat-menu-item (click)="delete()" title="Supprimer">
        <i class="bx bxs-trash"></i>
        <span class="description">Supprimer</span>
      </button>
    </mat-menu>
  </div>
</div>
