:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.article {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
}

.article .title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article .title-container span {
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
  text-transform: capitalize;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.article .title-container .title {
  margin-left: 5px;
}

.article.active {
  background-color: var(--secondary);
  color: var(--tertiary);
}

.article .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article .button-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article .button-container button {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.article .button-container button i {
  font-size: 30px;
}

.article .button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

.article .button-container button:hover::before {
  width: 100%;
}

.article .button-container button:hover {
  color: var(--primary);
}

.article .button-container button * {
  position: relative;
  z-index: 1;
}

.article .button-container .dots {
  color: var(--accent);
}

.article .button-container .dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

mat-chip-set {
  width: 320px;
}

.stars {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars i {
  font-size: 20px;
}

::ng-deep .mat-mdc-menu-panel .description {
  font-size: 20px;
}

::ng-deep .mat-mdc-menu-panel button i {
  font-size: 30px;
}

::ng-deep .mat-mdc-menu-panel button {
  color: var(--secondary) !important;
  background-color: var(--primary) !important;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
}

::ng-deep .mat-mdc-menu-panel button:hover {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}

::ng-deep .mat-mdc-menu-panel .update:hover {
  background-color: var(--secondary) !important;
}

::ng-deep .mat-mdc-menu-panel .reco:hover {
  background-color: var(--tertiary) !important;
}

::ng-deep .mat-mdc-menu-panel button .mat-mdc-menu-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-mdc-menu-content {
  padding: 5px !important;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: var(--secondary) !important;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__action--primary::before {
  border-color: var(--secondary) !important;
}

::ng-deep
  .article.active
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: var(--primary) !important;
}

::ng-deep
  .article.active
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__action--primary::before {
  border-color: var(--primary) !important;
}

@media screen and (max-width: 860px) {
  mat-chip-set {
    width: 280px;
  }
}

@media screen and (max-width: 820px) {
  mat-chip-set {
    width: 240px;
  }
}

@media screen and (max-width: 770px) {
  mat-chip-set {
    width: 200px;
  }

  .stars {
    width: 130px;
  }
}

@media screen and (max-width: 720px) {
  .article .title-container span {
    width: 200px;
  }

  mat-chip-set {
    width: 180px;
  }

  .stars {
    width: 100px;
  }
}

@media screen and (max-width: 680px) {
  .article .title-container span {
    width: 180px;
  }
}

@media screen and (max-width: 630px) {
  .article .title-container span {
    width: 160px;
  }

  mat-chip-set {
    width: 160px;
  }
}

@media screen and (max-width: 580px) {
  .article {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .article .title-container {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .article .title-container span {
    width: unset;
    text-align: center;
  }

  mat-chip-set {
    width: unset;
  }

  .article .button-container {
    flex-direction: column;
    width: 100%;
  }
}
