:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.article {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
}

.article .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article .title span {
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
  text-transform: capitalize;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.article .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article .button-container button {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.article .button-container button i {
  font-size: 30px;
}

.article .button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

.article .button-container button:hover::before {
  width: 100%;
}

.article .button-container button:hover {
  color: var(--primary);
}

.article .button-container button * {
  position: relative;
  z-index: 1;
}

.article .button-container .dots {
  color: var(--accent);
}

.article .button-container .dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

.stars i {
  font-size: 20px;
}
