<div class="article" [ngClass]="{ active: article().isRecommended }">
  <div class="title-container">
    <span class="title">{{ article().title }}</span>
    <span class="genre">{{ article().genre }}</span>
    <div class="stars">
      @for (star of getStars(article().grade); track $index) {
      <i
        class="bx"
        [ngClass]="{
          'bxs-star': star === 'full',
          'bxs-star-half': star === 'half',
          'bx-star': star === 'empty'
        }"
      ></i>
      }
    </div>
  </div>
  <div class="button-container">
    <button
      type="button"
      [routerLink]="'/categories/' + categoryId() + '/articles/' + article().id"
      title="Consulter"
    >
      <i class="bx bxs-search-alt-2"></i>
    </button>
    <button [matMenuTriggerFor]="menu" class="dots" title="Actions">
      <i class="bx bx-dots-horizontal-rounded"></i>
    </button>

    <mat-menu #menu="matMenu">
      @if (article().isRecommended) {
      <button
        mat-menu-item
        (click)="recommand()"
        class="reco"
        title="S'abstenir"
      >
        <i class="bx bxs-user-x"></i>
        <span class="description">S'abstenir</span>
      </button>
      } @else {
      <button
        mat-menu-item
        (click)="recommand()"
        class="reco"
        title="Conseiller"
      >
        <i class="bx bxs-user-voice"></i>
        <span class="description">Conseiller</span>
      </button>
      }
      <button mat-menu-item (click)="update()" class="update" title="Modifier">
        <i class="bx bxs-edit-alt"></i>
        <span class="description">Modifier</span>
      </button>
      <button mat-menu-item (click)="delete()" title="Supprimer">
        <i class="bx bxs-trash"></i>
        <span class="description">Supprimer</span>
      </button>
    </mat-menu>
  </div>
</div>
