:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.article {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  background-color: var(--primary);
}

.article .title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article .title-container span {
  font-size: 22px;
  font-weight: 800;
  font-family: "Alice", serif;
  text-transform: capitalize;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.article .title-container .title {
  margin-left: 5px;
}

.article .title-container .genre {
  color: var(--secondary);
}

.article .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article .button-container button {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.article .button-container button i {
  font-size: 30px;
}

.article .button-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: width 0.4s ease;
  z-index: 0;
}

.article .button-container button:hover::before {
  width: 100%;
}

.article .button-container button:hover {
  color: var(--primary);
}

.article .button-container button * {
  position: relative;
  z-index: 1;
}

.article .button-container .dots {
  color: var(--accent);
}

.article .button-container .dots::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent);
  transition: width 0.4s ease;
  z-index: 0;
}

.stars i {
  font-size: 20px;
}

::ng-deep .mat-mdc-menu-panel .description {
  font-size: 20px;
}

::ng-deep .mat-mdc-menu-panel button i {
  font-size: 30px;
}

::ng-deep .mat-mdc-menu-panel button {
  color: var(--secondary) !important;
  background-color: var(--primary) !important;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
}

::ng-deep .mat-mdc-menu-panel button:hover {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}

::ng-deep .mat-mdc-menu-panel .update:hover {
  background-color: var(--secondary) !important;
}

::ng-deep .mat-mdc-menu-panel button .mat-mdc-menu-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-mdc-menu-content {
  padding: 5px !important;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 720px) {
  .article .title-container span {
    width: 200px;
  }
}

@media screen and (max-width: 680px) {
  .article .title-container span {
    width: 180px;
  }
}

@media screen and (max-width: 630px) {
  .article .title-container span {
    width: 160px;
  }
}

@media screen and (max-width: 580px) {
  .article {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .article .title-container {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .article .title-container span {
    width: 220px;
  }

  .article .title-container .genre {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .article .title-container span {
    width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .article .title-container span {
    width: 180px;
  }
}

@media screen and (max-width: 330px) {
  .article .title-container span {
    width: 160px;
  }
}
