<div class="article">
  <div class="title-container">
    <span class="title">{{ article().title }}</span>
    <span class="genre">{{ article().genre }}</span>
    <div class="stars">
      @for (star of getStars(article().grade); track $index) {
      <i
        class="bx"
        [ngClass]="{
          'bxs-star': star === 'full',
          'bxs-star-half': star === 'half',
          'bx-star': star === 'empty'
        }"
      ></i>
      }
    </div>
  </div>
  <div class="button-container">
    <button
      type="button"
      [routerLink]="'/categories/' + categoryId() + '/articles/' + article().id"
      title="Consulter"
    >
      <i class="bx bxs-search-alt-2"></i>
    </button>
    <button [matMenuTriggerFor]="menu" class="dots" title="Actions">
      <i class="bx bx-dots-horizontal-rounded"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="update()">
        <i class="bx bxs-edit-alt"></i>
        <span>Modifier</span>
      </button>

      <button mat-menu-item (click)="delete()">
        <i class="bx bxs-trash"></i>
        <span>Supprimer</span>
      </button>
    </mat-menu>
  </div>
</div>
